/* Add CSS styling here */
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
html{
    font-size: 62.5%;
}
.container{
    display: flex;
    font-size: 4rem;
    justify-content: space-between;
    background-color: aqua;
}
.container nav{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    width: 25%;
}
.container a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: 1px white solid;
    text-align: center;
    background-color: lightblue;
    font-size: 2rem;
    border: 2px red solid;
    margin: 2%;
    text-decoration: none;
}
/* ================ hero image =========== */
.hero {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    position: absolute;
    font-size: 50px;
    background-color: black;
    color: white;
}
.hero img{
    width: 80%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    padding: 2%;
}


content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    width: 100%;
    font-size: 5rem;
} 
content img{
    width: 100%;
    
}
.half{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 97.5%;
}
.half div{
    /* flex: 1; */
    width: 31%;
    height: 100%;
    margin: .5%;
}
.contact {
    display: flex;
    justify-content: center;
    background-color: black;
}
.contact a{
    color: black;
    font-size: 4rem;
    text-align: center;
    width: 19%;
    border: 2px black solid;
    background-color: lightblue;
    text-decoration: none;
}
.fa {
    display: flex;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }